<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TextFilePath" value="C:\Users\YURI\source\repos\2ndTask---Concordance\Text.txt"/>
    <add key="AlphabetFilePath" value="C:\Users\YURI\source\repos\2ndTask---Concordance\Alphabet.txt"/>
  </appSettings>
</configuration>